:root {
  --ingredient-quantity-column-width: 70px; /* You can adjust this value */
  --body-text-size: 15px;
}

body {
  font-size: var(--body-text-size) !important;
  
}



@media only screen and (min-width: 768px) {
  .recipes-heading h1 {
    font-size: 70px !important;
    text-align: center !important;

  }
}

.instructions-header {
  text-align:left !important;
  margin-bottom: 20px !important;
}

.three-column-layout .step {
  display: flex;
  align-items: flex-start;
}

.step-number .circle {
  width: 30px;
  height: 30px;
  background-color: darkgreen;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 15px;
}



.ingredients-header, .instructions-header {
  text-align: center;
}

.ingredient-column {
  width: 33%;
}

.instruction-column {
  width: 52%;

}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

ul.subtle-bullet {
  list-style-type: none;
  padding-left: 0;
}

ul.subtle-bullet li:not(:only-child) {
  position: relative;
  padding-left: 15px; /* This should be a bit more than the width of the dash plus the margin */
}

ul.subtle-bullet li:not(:only-child)::before {
  content: '-';
  color: lightgreen;
  position: absolute;
  left: 0;
}



.quantity {
  display: inline-block;
  width: var(--ingredient-quantity-column-width);
  min-width: var(--ingredient-quantity-column-width); /* Ensures that space is reserved even if empty */
  flex: 0 0 auto; /* Prevents shrinking */
  margin-right: 10px;
}

.name {
  display: inline-block;
  flex: 1 1 auto; /* Allows growing and shrinking */
}


@media only screen and (max-width: 600px) {
  .three-column-layout .step {
    flex-direction: column;
  }

  .ingredient-column, .instruction-column {
    width: 100%;
    text-align: left;
  }

  .step-number {
    text-align: center;
    margin-left: 5px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1487px !important; /* body width for larger devices */
  }
}

.excerpt {
  margin-top: 15px;
}

.recipe-info {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px; /* Adjust this value as needed for a reasonable maximum */
  margin: 0 auto;
  width: 100%;
}

.recipe-item {
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid #000;
  flex-grow: 1;
}

.recipe-item:last-child {
  border-right: none;
}

.recipe-label, .value {
  display: block;
}

/* Responsive design for mobile devices or small screens */
@media (max-width: 768px) {
  .recipe-info {
    width: 100%;
  }
}

